@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 后台管理系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top_wrapper">
        <div class="top_content">
            <span class="top_left">后台管理系统</span>
            <span>您好 , <span>XXX</span> | <a href="#">设置</a> | <a href="#">退出</a> </span>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <div class="menu menu_1">新闻中心</div>
            <div class="menu2_wrapper show">
                <div class="menu2 selected" data-url="/News/Education">教育动态</div>
                <div class="menu2" data-url="/News/Policy">政策文件</div>
                <div class="menu2" data-url="/News/NImage">多媒体新闻</div>
                <div class="menu2" data-url="index.html">通知公告</div>
            </div>
            <div class="menu menu_2">课程中心</div>
            <div class="menu2_wrapper">
                <div class="menu2">课程课件</div>
                <div class="menu2">培训课程</div>
            </div>
            <div class="menu menu_3">成果展示</div>
            <div class="menu2_wrapper">
                <div class="menu2">主题教育</div>
                <div class="menu2">社区活动</div>
                <div class="menu2">学习型组织建设</div>
            </div>
            <div class="menu menu_4">学习数据统计</div>
            <div class="menu2_wrapper">
                <div class="menu2">学习明细</div>
                <div class="menu2">学分统计</div>
            </div>
            <div class="menu menu_5">系统管理</div>
            <div class="menu2_wrapper">
                <div class="menu2">用户管理</div>
                <div class="menu2">网站编辑</div>
            </div>
            <div id="datepicker"></div>
        </div>
        <div class="right">
            <iframe id="ifr_main" src="@Url.Action("Education","News")" border="0" frameborder="0" framespacing="0" noresize="noresize"></iframe>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $.datepicker.regional['zh-CN'] = {
            closeText: '关闭',
            prevText: '&#x3C;上月',
            nextText: '下月&#x3E;',
            currentText: '今天',
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
            '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月',
            '七月', '八月', '九月', '十月', '十一月', '十二月'],
            dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
            dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
            weekHeader: '周',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: '年'
        };
        $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
        $("#datepicker").datepicker();
        $(".menu").click(function () {
            var menu2 = $(this).next();
            if (!menu2.hasClass("menu2_wrapper")) return false;
            //$(".menu2_wrapper").not(menu2).slideUp(200);
            menu2.slideToggle(200);
        });
        $(".menu2").click(function () {
            if ($(this).attr("data-url")) {
                $("#ifr_main").attr("src", $(this).attr("data-url"));
                $(".menu2").removeClass("selected");
                $(this).addClass("selected");
            }
        });
    </script>
</body>
</html>
