<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/css/easyui")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/easyui")
        @RenderSection("head", required: false)
    </head>
    <body>
        <div id="body">
            @RenderBody()
        </div>
        <script type="text/javascript">
            var winWidth = 0;
            var winHeight = 0;
            function findDimensions() {
                //获取窗口宽度
                if (window.innerWidth)
                    winWidth = window.innerWidth;
                else if ((document.body) && (document.body.clientWidth))
                    winWidth = document.body.clientWidth;

                //获取窗口高度
                if (window.innerHeight)
                    winHeight = window.innerHeight;
                else if ((document.body) && (document.body.clientHeight))
                    winHeight = document.body.clientHeight;
                //通过深入Document内部对body进行检测，获取窗口大小
                if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth) {
                    winHeight = document.documentElement.clientHeight;
                    winWidth = document.documentElement.clientWidth;
                }
            }
            function setPanel() {
                findDimensions();
                $('#ePanel').panel({
                    width: winWidth,
                    height: winHeight
                });
            }
            setPanel();
            window.onresize = setPanel;
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
