<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 张家港全民终身学习网</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("head", required: false)
    </head>
    <body>
        <div class="content">
            <!-- 菜单 -->
            <div class="top_wrapper">
                <a href="index.html" class="logo"><img src="@Url.Content("~/Images/index/logo.jpg")" /></a>
                <div class="functions">
                    <a class="first" href="login.html">登录</a>
                    <a href="#">设为首页</a>
                    <a href="#">加入收藏</a>
                    <a href="#">联系我们</a>
                    <a href="#">忘记密码?</a>
                </div>
                <ul>
                    <li class="first">
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="news_1_.html">新闻中心</a>
                        <div class="menu2"><label class="menu2_start"></label><a href="news_1_.html">教育动态</a><a href="news_2_.html">政策文件</a><a href="news_3_.html">图片新闻</a><a href="news_4_.html">通知公告</a><label class="menu2_end"></label></div>
                    </li>
                    <li>
                        <a href="#">课程中心</a>
                        <div class="menu2"><label class="menu2_start"></label><a href="#">热门课程</a><a href="#">最新课程</a><a href="#">精品课程</a><a href="#">全部课程</a><label class="menu2_end"></label></div>
                    </li>
                    <li>
                        <a href="#">成果展示</a>
                        <div class="menu2"><label class="menu2_start"></label><a href="#">主题教育</a><a href="#">社区活动</a><a href="#">学习型组织建设</a><label class="menu2_end"></label></div>
                    </li>
                    <li>
                        <a href="map.html">学习地图</a>
                    </li>
                    <li>
                        <a href="#">学习俱乐部</a>
                        @*<div class="menu2"><label class="menu2_start"></label><a href="#">日志</a><a href="#">相册</a><a href="#">分享</a><a href="#">群组</a><a href="#">投票</a><a href="#">新鲜事</a><label class="menu2_end"></label></div>*@
                    </li>
                </ul>
            </div>
            @RenderBody()
        </div>
        <!-- 底部 -->
        <div class="bottom">
            <ul>
                <li><a href="#">教育部</a></li>
                <li><a href="#">江苏教育资源网</a></li>
                <li><a href="#">张家港教育</a></li>
                <li><a href="#">浙江社区教育网</a></li>
                <li><a href="#">上海终身教育</a></li>
                <li><a href="#">江苏教育</a></li>
                <li><a href="#">教育在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">人民网</a></li>
                <li><a href="#">腾讯教育</a></li>
                <li><a href="#">苏州教育</a></li>
                <li><a href="#">江苏学习在线</a></li>
                <li><a href="#">中国社区教育网</a></li>
                <li><a href="#">金港热线</a></li>
            </ul>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
