<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 张家港全民终身学习网</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("head", required: false)
        <script type="text/javascript">
            function AddFavorite(sURL, sTitle) {
                try {
                    window.external.addFavorite(sURL, sTitle);
                }
                catch (e) {
                    try {
                        window.sidebar.addPanel(sTitle, sURL, "");
                    }
                    catch (e) {
                        alert("加入收藏失败，请使用Ctrl+D进行添加");
                    }
                }
            }
            function SetHome(obj, vrl) {
                try {
                    obj.style.behavior = 'url(#default#homepage)'; obj.setHomePage(vrl);
                }
                catch (e) {
                    if (window.netscape) {
                        try {
                            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                        }
                        catch (e) {
                            alert("此操作被浏览器拒绝！\n请在浏览器地址栏输入“about:config”并回车\n然后将 [signed.applets.codebase_principal_support]的值设置为'true',双击即可。");
                        }
                        var prefs = Components.classes['mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
                        prefs.setCharPref('browser.startup.homepage', vrl);
                    }
                }
            }
        </script>
    </head>
    <body>
        <div class="content">
            <!-- 菜单 -->
            <div class="top_wrapper">
                <a href="index.html" class="logo"><img src="@Url.Content("~/Images/index/logo.jpg")" /></a>
                <div class="functions">
                    <a class="first" href="login.html">登录</a>
                    <a href="#" onclick="SetHome(this,window.location)">设为首页</a>
                    <a href='#' onclick="AddFavorite(window.location,document.title)">加入收藏</a>
                    <a href="contact.html">联系我们</a>
                    <a href="fgpassword.html">忘记密码?</a>
                </div>
                <ul>
                    <li class="first">
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="news_1_.html">新闻中心</a>
                        <div class="menu2"><label class="menu2_start"></label><a href="news_1_.html">教育动态</a><a href="news_2_.html">政策文件</a><a href="news_3_.html">图片新闻</a><a href="news_4_.html">通知公告</a><label class="menu2_end"></label></div>
                    </li>
                    <li>
                        <a href="course_1_.html">课程中心</a>
                        <div class="menu2"><label class="menu2_start"></label><a href="course_2_.html">热门课程</a><a href="course_3_.html">最新课程</a><a href="course_1_.html">精品课程</a><a href="course_4_.html">全部课程</a><label class="menu2_end"></label></div>
                    </li>
                    <li>
                        <a href="achievement_1_.html">成果展示</a>
                        <div class="menu2"><label class="menu2_start"></label><a href="achievement_1_.html">主题教育</a><a href="achievement_2_.html">社区活动</a><a href="achievement_3_.html">学习型组织建设</a><label class="menu2_end"></label></div>
                    </li>
                    <li>
                        <a href="map.html">学习地图</a>
                    </li>
                    <li>
                        <a href="#">学习俱乐部</a>
                        @*<div class="menu2"><label class="menu2_start"></label><a href="#">日志</a><a href="#">相册</a><a href="#">分享</a><a href="#">群组</a><a href="#">投票</a><a href="#">新鲜事</a><label class="menu2_end"></label></div>*@
                    </li>
                </ul>
            </div>
            @RenderBody()
        </div>
        <!-- 底部 -->
        <div class="bottom">
            <ul>
                <li><a href="#">教育部</a></li>
                <li><a href="#">江苏教育资源网</a></li>
                <li><a href="#">张家港教育</a></li>
                <li><a href="#">浙江社区教育网</a></li>
                <li><a href="#">上海终身教育</a></li>
                <li><a href="#">江苏教育</a></li>
                <li><a href="#">教育在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">人民网</a></li>
                <li><a href="#">腾讯教育</a></li>
                <li><a href="#">苏州教育</a></li>
                <li><a href="#">江苏学习在线</a></li>
                <li><a href="#">中国社区教育网</a></li>
                <li><a href="#">金港热线</a></li>
            </ul>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
